In [6]:
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
import pickle

In [7]:
df = pd.read_csv('../data/clean/clean.csv')

In [8]:
df.head()

  age;"job";"marital";"education";"default";"housing";"loan";"contact";"month";"day_of_week";"duration";"campaign";"pdays";"previous";"poutcome";"emp_var_rate";"cons_price_idx";"cons_conf_idx";"euribor3m";"nr_employed";"y"
0  56;"housemaid";"married";"basic.4y";"no";"no";...
1  57;"services";"married";"high.school";"unknown...
2  37;"services";"married";"high.school";"no";"ye...
3  40;"admin.";"married";"basic.6y";"no";"no";"no...
4  56;"services";"married";"high.school";"no";"no...

# Feature Exploration

### Overall statistics

In [9]:
for column in df.columns:
    print('Statistic for ', column)
    print(df[column].describe())
    print('---------------------')

Statistic for  age;"job";"marital";"education";"default";"housing";"loan";"contact";"month";"day_of_week";"duration";"campaign";"pdays";"previous";"poutcome";"emp_var_rate";"cons_price_idx";"cons_conf_idx";"euribor3m";"nr_employed";"y"
count                                                 41188
unique                                                41176
top       45;"admin.";"married";"university.degree";"no"...
freq                                                      2
Name: age;"job";"marital";"education";"default";"housing";"loan";"contact";"month";"day_of_week";"duration";"campaign";"pdays";"previous";"poutcome";"emp_var_rate";"cons_price_idx";"cons_conf_idx";"euribor3m";"nr_employed";"y", dtype: object
---------------------